﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>NG-Site</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="app1">
  <div ng-controller="HiController">
    <h2>Welcome {{helloTo.title}} to the world of Ng-Site!</h2>
  </div>

  <script>
    angular.module("app1", [])

      .controller("HiController", function ($scope) {
        $scope.helloTo = {};
        $scope.helloTo.title = "Angular";
      });
  </script>

</body>
</html>